---
- name: playbook_core.yml - blackarch base setup
  hosts: localhost
  become: yes

  tasks:

# ARCH FULL UPDATE  ----------------------------------------------------------

    - name: update_arch
      pacman:
        update_cache: yes
        upgrade: yes

# BLACKARCH REPOSITORY SETUP  --------------------------------------------------

    - name: check_if_blackarch_repo_exists
      command: grep -q '\[blackarch\]' /etc/pacman.conf
      register: blackarch_repo
      failed_when: false
      changed_when: false

    - name: download_blackarch_strap_script
      get_url:
        url: https://blackarch.org/strap.sh
        dest: /tmp/strap.sh
        mode: '0755'
      when: blackarch_repo.rc != 0

    - name: execute_blackarch_strap_script
      command: /bin/bash /tmp/strap.sh
      when: blackarch_repo.rc != 0

    - name: update_package_databases
      pacman:
        update_cache: yes

# INSTALL VARIOUS PACKAGES  --------------------------------------------------

    - name: install_bunch_of_packages
      pacman:
        update_cache: yes
        name:
          - nvim                    # the right editor
          - man-db                  # help pages
          - git                     # to clone github repos
          - curl                    # download utility
          - wget                    # download utility
          - rsync                   # copy utility
          - fd                      # simpler find
          - fzf                     # fuzzy filter, useful for file search
          - bat                     # prettier cat
          - tree                    # show files/directories structure
          - unarchiver              # extract any archive
          - fastfetch               # system info
          - ncdu                    # investigate disk space usage
          - btop                    # better resource monitor
          - openbsd-netcat          # diagnose network issues using tiny server
          - tcpdump                 # diagnose network issues by watching ports
          - inetutils               # network utilities like hostname
          - net-tools               # network utilities like arp, netstat
          - python-pip              # package manager
          - python-setuptools       # additional packaging tools
          - python-pexpect          # child application control

# PARU TO ACCESS AUR REPOSITORY  ----------------------------------------------

    - name: git_clone_paru_repo
      become: no
      git:
        repo: 'https://aur.archlinux.org/paru.git'
        dest: /tmp/paru
        clone: yes

    - name: build_and_install_paru
      command: makepkg -si --noconfirm
      args:
        chdir: /tmp/paru
      become: no

# INSTALL BLACKARCH TOOLS  ----------------------------------------------------

    - name: install_blackarch_officials_metapackage
      pacman:
        name: blackarch-officials
        state: present

# CLEANUP TEMPORARY FILES  ---------------------------------------------------

    - name: clean_up_blackarch_strap_script
      file:
        path: /tmp/strap.sh
        state: absent

    - name: clean_up_paru_build_directory
      file:
        path: /tmp/paru
        state: absent
      become: no
